APP_NAME=skeleton
APP_ENV=dev

# Token 认证
JWT_KEY=

# mysql
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

# redis
REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# rabbitmq
AMQP_HOST=localhost
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/

# queue
QUEUE_MYSQL=true
QUEUE_REDIS=false
QUEUE_AMQP=false

# 系统日志记录等级
SYSTEM_LOG_LEVEL=emergency,alert,critical,error,warning,notice,info,debug

# 微信配置
WECHAT_APP_ID=
WECHAT_APP_SECRET=
