# Magic behaviour with __get, __set, __call and __callStatic is not exactly static analyser-friendly :)
# Fortunately, You can ingore it by the following config.
#
# vendor/bin/phpstan analyse app --memory-limit 200M -l 0
#
parameters:
  level: max
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Static call to instance method Hyperf\\HttpServer\\Router\\Router::[a-zA-Z0-9\\_]+\(\)#'
    - '#Static call to instance method Hyperf\\DbConnection\\Db::[a-zA-Z0-9\\_]+\(\)#'
    - '#Property [a-zA-Z0-9\:\(\)\_\$\\]+ type has no value type specified in iterable type array\.#'
    - '#Method [a-zA-Z0-9\:\(\)\_\\]+ has parameter \$[a-zA-Z0-9\:\(\)\_\\]+ with no value type specified in iterable type array\.#'
    - '#Method [a-zA-Z0-9\:\(\)\_\\]+ return type has no value type specified in iterable type array\.#'
    - '#Class App\\Biz\\Guzzle\\Formatter\\MessageFormatter extends \@final class GuzzleHttp\\MessageFormatter\.#'
    - '#Property App\\Biz\\[a-zA-Z0-9\:\(\)\_\\]+\\Service\\Impl\\[a-zA-Z0-9\:\(\)\_\\]+ServiceImpl::\$dao has no type specified\.#'
  excludePaths:
    - 'runtime/container/*'